<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>UNCGA Online Help</title></%block>

<section class="static-container faq" style="width: auto;">
  <nav id="about-menu">
    <a href="#" class="help">Help</a>
  </nav>

  <section class="vision">
    <section class="message left" id="help">
      <article>
        <h2>Trouble accessing a course</h2> 
        <p><TBD</p>
        <h2>For general technical support</h2>
        <p><strong>Email us at:</strong><br />
        <a href="mailto:info@mooc.sas.com">info@mooc.sas.com</a></p>
      </article>
    </section>
  </section>

</section>
