<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Terms of Service</title></%block>

<section class="static-container tos">
  <h1>Terms of Service for SAS Online Courses</h1>

  <p>TBD</p>
  <p><strong>Rules for Online Conduct</strong></p>
  <p>You agree to use the Sites in accordance with all applicable laws. You further agree that you will not e-mail or post any of the following content anywhere on the Site, or on any other SAS computing resources:</p>
  <ul>
  <li>Content that defames or threatens others</li>
  <li>Harassing statements or content that violates federal or state law</li>
  <li>Content that discusses illegal activities with the intent to commit them</li>
  <li>Content that infringes another's intellectual property, including, but not limited to, copyrights, trademarks or trade secrets</li>
  <li>Content related to partisan political activities</li>
  <li>Material that contains obscene (i.e. pornographic) language or images</li>
  <li>Advertising or any form of commercial solicitation</li>
  <li>Content that is otherwise unlawful</li>
  <li>Intentionally misleading or inaccurate content</li>
  </ul>
  <p>Copyrighted material, including without limitation software, graphics, text, photographs, sound, video and musical recordings, may not be placed on the Site without the express permission of the owner of the copyright in the material, or other legal entitlement to use the material.</p>

  <p>You agree not to attack, disrupt, disable or harm the Site, or servers or networks connected to the Site.&nbsp;&nbsp;You may not use the Site via any automated means, such as a screen-scraper or robot.&nbsp;&nbsp;This is not intended to exclude the use of assistive technology for your own use, such as screen-readers.&nbsp;&nbsp;You agree not to send any unsolicited emails to other Site Users. You may not display the Site within a frame on another website, or place pop-up windows or other disruptive technologies over it.</p>
  <p><strong>Content Disclaimer</strong></p>
  <p>The text and other material on the Sites may include the opinion of the specific instructor and are not statements of advice, opinion, or information of SAS. If you feel you might be offended by the content of the Sites, you should not continue.</p>
  <p>Sites may also include the personal opinions and other expressions by Users who post entries on a wide range of topics. Neither the content of the forums, nor the links to other web sites, are screened, approved, reviewed or endorsed by SAS or any other related entity. SAS is not a publisher of any of the content of the forums, or of any content that may be available through links to and from them.</p>
  <p id="honor"><strong>Honor Code</strong></p>
  <p>By registering in an online course, you agree to:</p>
  <ul>
    <li>Complete all assignments and exams on my own without assistance from any other person</li>
    <li>Not post answers to assignments / exams that are in current use</li>
    <li>Correctly acknowledge the work of others if referenced in my submissions</li>
    <li>Agree to this policy every time I submit any assignment or exam</li>
  </ul>
  <p>You certify that my submission is your own work.   External sources herein are appropriately cited.</p>
  <p><strong>User Accounts</strong></p>
  <p>In order to fully participate in all Site activities, you must provide an email address ("Email Address") and a user password ("User Password"). You agree that you will never divulge or share access or access information to your User Account with any third party for any reason.</p>
  <p>In setting up your User Account, you may be prompted or required to enter additional information, including but not limited to your name and location. Additional information may be required to confirm your identity. You understand and agree that all information provided by you is accurate, current and complete and that you will maintain and update your information to keep it accurate, current and complete. You acknowledge that if any information provided by you is untrue, inaccurate, not current or incomplete, we reserve the right to terminate your use of the Sites.</p>
  <p><strong>Course Modification or Cancellation</strong></p>
  <p>The Sites, including the course materials, may contain errors and omissions. We reserve the right to correct errors or omissions without prior notice. We also reserve the right to cancel, discontinue, reschedule, delay, change instructors or modify any course or service.</p>

  <p>You acknowledge that the course content of the online course does not reflect the complete curriculum of a course that may be offered to students enrolled at SAS.</p>

  <p>We will study course participation to learn how to enhance both our course offerings and the online learning experience.&nbsp;In the interests of these research studies, you may be exposed to slight variations in the course materials that will not substantially alter your learning experience.</p>
  <p><strong>&nbsp;Use of Site and Materials</strong></p>
  <p>Unless otherwise indicated, the Site and content are the property of SAS. In consideration for your agreement to the terms and conditions contained here, SAS grants you a personal, non-exclusive, non-transferable license to access and use the Site. User may download material from the Site only for User's own personal, non-commercial use. User may not otherwise copy, reproduce, duplicate, retransmit, distribute, publish, sell, resell, commercially exploit or otherwise transfer any material or modify or create derivative works of the material. The burden of determining that use of any information, software or any other content on the Site is permissible rests with User. Some content on the Site is provided by third parties, and the use of that content is subject to rules and restrictions as indicated on the Site. You agree to be bound by all such rules and restrictions.</p>
  <p><strong>User Content</strong></p>
  <p>You may be permitted to submit and distribute materials in connection with an online course (“User Content”). You represent and warrant that any material you submit to the Site, instructors or other Users is accurate and complete and&nbsp;&nbsp;will not violate or infringe the rights of any third party, including without limitation privacy, publicity, intellectual property and any other proprietary rights, such as copyright, trademark and patent rights. You represent and warrant that you have all the necessary rights and licenses to use the material and to permit use of the material by SAS.</p>
  <p>You agree that, if a third party claims that any material you have contributed to a Site is unlawful, you will bear the burden of establishing that the material complies with all applicable laws. Although SAS does not monitor the content of the Site, SAS has the right to remove material from the Site, block access, or take other action with respect to the material in its sole discretion.</p>
  <p>By your submission of any material, you hereby grant SAS an irrevocable, non-exclusive, royalty free, fully transferable, worldwide license to use, disclose, reproduce, distribute, prepare derivative works of, publicly perform and publicly display any such submission.&nbsp;You hereby grant Users in your online course a license to use your User Content (including the right to copy, modify and distribute such content) in conjSAStion with their participation in the course.</p>
  <p><strong>User Status and Statement of Accomplishment</strong></p>
  <p>You agree and acknowledge that your access to the Site, participation in an online course and your agreement to these Terms do not confer any right to access or use the resources of SAS or establish any relationship with SAS or its instructors beyond the Site and that you are not entitled to any student or academic grievance procedures.</p>
  <p>&nbsp;Subject to satisfactory performance and course completion, you may receive a Statement of Accomplishment (“Statement”) signed by the instructor(s). SAS reserves the right to determine whether a Statement will be issued for the online course and the nature of the information to be provided in the Statement. You acknowledge that any Statement will not stand in the place of a course taken at SAS or an accredited institution or confer any academic credit, grade or degree or indicate enrollment at SAS. You further acknowledge that instructors of any online course will not be involved in any attempts to get the course recognized by any educational or accredited institution.</p>
  <p><strong>Links to Other Sites</strong></p>
  <p>The Site may include hyperlinks to sites maintained or controlled by others. SAS is not responsible for and does not routinely screen, approve, review or endorse the contents of or use of any of the products or services that may be offered at other sites.</p>
  <p><strong>Choice of Law/Forum Selection</strong></p>
  <p>The Sites are managed by SAS, located in Cary, North Carolina. You agree that any dispute arising out of or relating to these Terms or any content posted to a Site, including copies and republication thereof, whether based in contract, tort, statutory or other law, will be governed by the laws of the State of North Carolina, excluding its conflicts of law provisions. You further consent to the personal jurisdiction of and exclusive venue in the federal and state courts located in and serving Cary, North Carolina as the legal forum for any such dispute.</p>
  <p><strong>Disclaimer of Warranty / Limitation of Liabilities</strong></p>
  <p>THESE SITES AND ANY INFORMATION, PRODUCTS OR SERVICES THEREIN ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR USE OF A PARTICULAR PURPOSE, OR NONINFRINGEMENT.</p>
  <p>SAS does not warrant, and hereby disclaims any warranties, either express or implied, with respect to the accuracy, adequacy or completeness of any Site, information obtained from a Site, or link to a Site. SAS does not warrant that the Site will operate in an uninterrupted or error-free manner or that the Site is free of viruses or other harmful components. Use of information obtained from or through the Site is at your own risk.</p>
  <p>YOU AGREE THAT SAS WILL NOT BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES, EITHER ACTUAL OR CONSEQUENTIAL, ARISING OUT OF OR RELATING TO THESE TERMS, OR TO YOUR (OR ANY THIRD PARTY'S) USE OR INABILITY TO USE A SITE, OR TO YOUR PLACEMENT OF CONTENT ON A SITE, OR TO YOUR RELIANCE UPON INFORMATION OBTAINED FROM OR THROUGH A SITE. IN PARTICULAR, SAS WILL HAVE NO LIABILTY FOR ANY CONSEQUENTIAL, INDIRECT, PUNITIVE, SPECIAL OR INCIDENTAL DAMAGES, WHETHER FORESEEABLE OR UNFORESEEABLE, (INCLUDING, BUT NOT LIMITED TO, CLAIMS FOR DEFAMATION, ERRORS, LOSS OF DATA, OR INTERRUPTION IN AVAILABILITY OF DATA), ARISING OUT OF OR RELATING TO THESE TERMS, YOUR USE OR INABILITY TO USE A SITE, OR YOUR PLACEMENT OF CONTENT ON A SITE, OR TO YOUR RELIANCE UPON INFORMATION OBTAINED FROM OR THROUGH A SITE, WHETHER BASED IN CONTRACT, TORT, STATUTORY OR OTHER LAW, EXCEPT ONLY IN THE CASE OF DEATH OR PERSONAL INJURY WHERE AND ONLY TO THE EXTENT THAT APPLICABLE LAW REQUIRES SUCH LIABILITY.</p>
  <p>WITHOUT LIMITING THE FOREGOING, SAS DOES NOT WARRANT THAT (A) THE SITE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS OR ACHIEVE THE INTENDED PURPOSES, (B) THE SITE WILL NOT EXPERIENCE OUTAGES OR OTHERWISE BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, (C) THE INFORMATION OBTAINED THROUGH FROM THE SITE WILL BE ACCURATE, COMPLETE, CURRENT, ERROR-FREE, COMPLETELY SECURE OR RELIABLE, OR (D) THAT DEFECTS IN OR ON THE SITE WILL BE CORRECTED.</p>
  <p>SAS makes no representation regarding your ability to transmit and receive information from or through the Site and you agree and acknowledge that your ability to access the Site may be impaired. SAS disclaims any and all liability resulting from or related to such events.</p>
  <p><strong>Termination Rights</strong></p>

  <p>You agree that: SAS, in its sole discretion, may terminate your use of the Site or your participation in an online course, for any reason or no reason and at any time; SAS shall not have any liability to you for the termination; and that you are not entitled to any course credit or to any student or academic grievance procedures in connection with such a termination.</p>

  <p>If you no longer desire to participate in the Site, you may terminate your participation therein upon notice to SAS.</p>

  <p><strong>Trademarks</strong></p>

  <p>The logos, names and graphics on the Site of SAS or any of its affiliates, may be trademarks of SAS or its affiliates. Use, reproduction, copying or redistribution of SAS trademarks, without the prior written permission of SAS or its affiliates, is prohibited. All other trademarks or servicemarks appearing on the Site are the marks of their respective owners.  

  <p><strong>Indemnification</strong></p>
  <p>You agree to indemnify and hold SAS and its instructors, trustees,&nbsp;officers, agents, employees, and assignees,&nbsp;harmless from any claims, actions, demands, losses or damages, including legal fees, arising out of, resulting from or in any way related to your participation in an online course, use of a Site placement of any content onto a Site or violation of these Terms. You further agree to fully cooperate in SAS's defense against any such claims.</p>

  <p id="copyright"><strong>Copyright Complaints</strong></p>

  <p>SAS respects the intellectual property rights of others.&nbsp;In accordance with Title II of the Digital Millennium Copyright Act (DMCA), an agent has been designated to receive notification of a claimed copyright infringement for the SAS University Network domains: SAS.EDU, SAS.ORG and&nbsp;&nbsp;SAS.COM. If you believe that your copyrighted work has been copied in a way that constitutes copyright infringement, the designated agent to receive notification of claimed infringement under Title II of the Digital Millenium Copyright Act is <a href="mailto:copyright@SAS.edu">copyright@SAS.edu</a></p>
  
  <p><strong>Attributions</strong></p>
  <p>This product includes GeoLite data created by MaxMind, available from <a href="http://www.maxmind.com">http://www.maxmind.com</a>.</p>

  <p id="privacy"><strong>Privacy Policy</strong></p>
  <p>SAS is committed to protecting your privacy, and we will not disclose your personal information to third parties unless required to do so by law. By using this website, you agree to abide by this Privacy Policy as well as any other applicable <a href="http://its.SAS.edu/about-its/university-it-policies/">Information Technology Services policies</a>.</p>
<p><strong>Information collection and use:</strong></p>
<p>SAS may collect some information about how visitors access and use a website affiliated with the SAS.edu domain and its contents. The information collected on this website is limited to non personally-identifiable information and may include information such as the computer address used to access the Web site. This data is used to improve website content and website management for users. Cookies may be used to facilitate the navigation of this site, but these cookies will not contain any personally-identifiable information. Other sites within the SAS.edu domain may have different privacy practices. If applicable, consult the privacy statement on each page.</p>
<p><strong>Changes to our Privacy Policy:</strong></p>
<p>We reserve the right to update and amend our Privacy Policy as needed. A current version of the Privacy Policy will be posted on this Web site.</p>
<p><strong>Contacting us and reporting misconduct:</strong></p>
<p>For more information or to report any misconduct or abuse of this Web site, please <a href="http://its.SAS.edu/ITS/about_its/its_policies/index.htm" target="">e-mail one of the listed contacts</a></p>
  <p><strong>General</strong></p>

  <p>These Terms of Service, including the Honor Code and Privacy Policy, constitute the entire agreement between you and SAS and its affiliates with respect to the subject matter herein and supersedes any and all prior or contemporaneous oral or written agreements.</p>

  <h3>Contacting SAS</h3>

  <p>If you have any questions regarding these Terms or Site, you may contact&nbsp;SAS at&nbsp;<a href="mailto:info@mooc.sas.com">info@mooc.sas.com</a></p>
  <h3>Effective date:&nbsp;&nbsp;April 14, 2014</h3>
  <p><strong>&nbsp;</strong></p>
</section>
