<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="container about">
<h1>${_("Honor Code")}</h1>
<p>By registering in an online course, you agree to:</p>
  <ul>
    <li>Complete all assignments and exams on my own without assistance from any other person</li>
    <li>Not post answers to assignments / exams that are in current use</li>
    <li>Correctly acknowledge the work of others if referenced in my submissions</li>
    <li>Agree to this policy every time I submit any assignment or exam</li>
  </ul>
  <p>You certify that your submission is your own work.   External sources herein are appropriately cited.</p>
</section>
