<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>About UNCGA Online</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#faq') > -1 ) {
        $('section#faq').show();
        $('#about-menu a.faq').addClass('active');
      } else if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else if ( document.location.href.indexOf('#careers') > -1 ) {
        $('section#careers').show();
        $('#about-menu a.careers').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">About</a>
    <a href="#faq" class="faq">Faq</a>  
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <article>
        <h2>About <span class="edx">UNC Online</span></h2>
        
        <p>UNC is developing new online course material in order to improve on-campus courses and provide broader public access to exciting learning opportunities.</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## FAQ Section ##
    <section class="message left" id="faq">
      <article>
        <h2>FAQs</h2>
        <p><strong>Has UNC joined the edX consortium?</strong><br />
        No.  We're partnering on the open source software.</p>
        
        <p><strong>What browsers are recommended for use with UNC OpenEdX?</strong><br />
        The latest versions of <a href="http://chrome.google.com/">Google Chrome</a>, <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a>, and <a href="http://www.apple.com/safari/">Apple Safari</a>. (The site is currently not optimized for mobile use.)</p>

        <p><strong>If I'm a UNC faculty member, and I'd like to use the platform to host content for an on-campus or public course, who should I get in touch with?</strong><br />
        <a href="mailto:mooc@online.northcarolina.edu">mooc@online.northcarolina.edu</a></p>

        <p><strong>If I'm at another university, and I'd like to find out about using the open source platform, who should I get in touch with?</strong><br />
        <a href="mailto:mooc@online.northcarolina.edu">mooc@online.northcarolina.edu</a></p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

  </section>

</section>
