/****************************************************************************************************
*   UNC Online Theming File
*
*   Contains all the theme color definitions for the UNC Open Source MOOC Project
*
****************************************************************************************************/

//-----------------
//  Color variables (from UNC palette unless noted)
//-----------------

//Cardinal Color Variables
$cardinal-light: #c83737; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$cardinal-bg: #e9afaf; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//UNC Color Variables
$unc-green: #006666; // Link Color



//Gray Color Variables
$gray: #3f3c30; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

//$gray-3: #e9e6df; //Block/Course BG Color
$gray-2: #f2f1eb;
$gray-1: #fbfbf9; //Main BG Color
$white: $gray-1;

$m-gray-d3: #646668;

$black: #2e2d29;
$black-80: #585754;



//-----------------
//  Font Assignment
//-----------------

//$theme-sans-font: 'Source Sans';
$theme-sans-font: 'Source Sans';
$tahoma: 'Tahoma';
$sans-serif: 'Open Sans', $tahoma, sans-serif; 
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: white;
$container-bg: white;
$login-register-bg: white;
$content-wrapper-bg: white;
$header-image: none;
$header-bg: transparentize(lighten(white, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten(white, 18.5%), .25);
$footer-bg: white;
$courseware-footer-border: 1px solid white;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient(white 0%, white);
$faded-hr-image-2: linear-gradient(white 0%, white);
$faded-hr-image-3: linear-gradient(white 0%, white);
$faded-hr-image-4: linear-gradient(white 0%, white);
$faded-hr-image-5: linear-gradient(white 0%, white);
$faded-hr-image-6: linear-gradient(white 0%, white);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $unc-green;
$link-color-d1: $unc-green;
$link-hover: $cardinal-light;
$site-status-color: $cardinal-bg;

$header-graphic-super-color: $unc-green;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $unc-green;
$header-link-hover: $cardinal-light;

$button-color: $unc-green;
$button-archive-color: #eee;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: transparent;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $unc-green;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $unc-green;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $unc-green;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: white;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: white;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: white;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $m-gray-d3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: rgb(190,190,190);
$border-color-2: rgb(200,200,200);
$border-color-3: rgb(100,100,100);

$outer-border-color: white;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: white;
$homepage__header--gradient__color--bravo: white;
$homepage__header--background: white;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: white;
$dashboard-profile-color: white;
$dot-color: white;

//$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

//$sidebar-chapter-bg-top: transparentize($gray-1, .3);
//$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
//$sidebar-chapter-bg: $gray-2;
//$sidebar-active-image: $gray-3;

//$form-bg-color: $gray-1;
//$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: 0px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/uncga/images/uncga-homepage-bg.jpg');

$login-banner-image: none;
$register-banner-image: none;

//$video-thumb-url: '../images/courses/video-thumb.jpg';

.lightItUp {
    background: yellow;
}

.testIt {
    height: 389;
    width: 1293;
    background: yellow;
}

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    margin-top: 50px;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}

//-----------
// UNC Styles
//-----------

.course-info, .inner-wrapper, .about, li {
        color: $base-font-color;
        font: normal 1em/1.6em $serif;
        margin: 0px;
} 

.home .university-partners hr::after, .course-info .container nav::after,
.course-info section.outside-app nav::after, .course-info .course-sidebar header::after,
.mediakit hr::after, .container.about>nav::after, section.about.outside-app>nav::after,
.password-reset header hr::after {
    background-image: -webkit-linear-gradient(-450deg, rgba(200, 200, 200, 0) 0%, #c8c8c8 50%, rgba(200, 200, 200, 0));
    background-image: linear-gradient(180deg, rgba(200, 200, 200, 0) 0%, #c8c8c8 50%, rgba(200, 200, 200, 0));
    height: 1px;
    width: 100%
}

.course-catalog {
    color: #3c3c3c;
    font: 400 1.4em/1.4em Tahoma, Geneva, sans-serif;
}

.home .university-partners::before, .home .university-partners::after {
    background-image: -webkit-linear-gradient(-450deg, rgba(240, 240, 240, 0) 0%, #f0f0f0 50%, rgba(240, 240, 240, 0));
    background-image: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, #f0f0f0 50%, rgba(240, 240, 240, 0));
    height: 1px;
    width: 100%
}

.home .university-partners hr, .mediakit hr, .password-reset header hr {
    background-image: -webkit-linear-gradient(-450deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
    height: 1px;
    width: 100%
}

.home .university-partners .partners li.partner::before, .find-courses header.search .inner-wrapper.main-search .logo::after,
.find-courses header.search .inner-wrapper.university-search .logo::after,
.university-profile header.search .inner-wrapper.main-search .logo::after,
.university-profile header.search .inner-wrapper.university-search .logo::after {
    background-image: -webkit-linear-gradient(-450deg, rgba(200, 200, 200, 0) 0%, #c8c8c8 50%, rgba(200, 200, 200, 0));
    background-image: linear-gradient(180deg, rgba(200, 200, 200, 0) 0%, #c8c8c8 50%, rgba(200, 200, 200, 0));
    height: 100%;
    width: 1px
}

.home .university-partners .partners li.partner::after {
    background-image: -webkit-linear-gradient(-360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0));
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0));
    background: transparent;
    height: 100%;
    width: 1px
}

//////

.home .university-partners {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.home .university-partners::before {
    content: "";
    display: block
}

.home .university-partners::after {
    content: "";
    display: block
}

.home .university-partners hr {
    border: none;
    margin: 0px;
    position: relative;
    z-index: 2
}

.home .university-partners hr::after {
    bottom: 0px;
    content: "";
    display: block;
    position: absolute;
    top: -1px
}

.home .university-partners .partners {
    margin: 0 auto;
    padding: 20px 0px;
    text-align: center
}

.home .university-partners .partners li.partner {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    padding: 0px 30px;
    position: relative;
    vertical-align: middle;
    overflow: hidden
}

.home .university-partners .partners li.partner::before {
    content: "";
    display: block;
    height: 80px;
    right: 0px;
    position: absolute;
    top: -5px;
    width: 1px
}

.home .university-partners .partners li.partner::after {
    content: "";
    display: block;
    height: 80px;
    right: 1px;
    position: absolute;
    top: -5px;
    width: 1px
}

.home .university-partners .partners li.partner:last-child::before {
    display: none
}

.home .university-partners .partners li.partner:last-child::after {
    display: none
}

.home .university-partners .partners a {
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.home .university-partners .partners a::before {
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient( circle closest-side at 50% 50%, #fff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    display: block;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    opacity: 0;
    width: 200px;
    position: absolute;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    top: 50%;
    z-index: 1
}

.home .university-partners .partners a .name {
    bottom: -60px;
    left: 0px;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    width: 100%;
    z-index: 2
}

.home .university-partners .partners a .name>span {
    color: #3c3c3c;
    font: 800 italic 1.4em/1.4em Tahoma, Geneva, sans-serif;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s
}

.home .university-partners .partners a .name>span:hover, .home .university-partners .partners a .name>span:focus {
    color: #646464
}

.home .university-partners .partners a img {
    position: relative;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    vertical-align: middle;
    z-index: 2
}

.home .university-partners .partners a:hover, .home .university-partners .partners a:focus {
    text-decoration: none
}

.home .university-partners .partners a:hover::before, .home .university-partners .partners a:focus::before {
    opacity: 1.0
}

.home .university-partners .partners a:hover .name, .home .university-partners .partners a:focus .name {
    bottom: 20px
}

.home .university-partners .partners a:hover img, .home .university-partners .partners a:focus img {
    top: -100px
}

.home .university-partners.university-partners2x6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.home .university-partners.university-partners2x6 .partners {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *zoom: 1;
    margin-left: 60px;
    padding: 12px 0
}

.home .university-partners.university-partners2x6 .partners:before,
.home .university-partners.university-partners2x6 .partners:after {
    content: " ";
    display: table
}

.home .university-partners.university-partners2x6 .partners:after {
    clear: both
}

.home .university-partners.university-partners2x6 .partners .partner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30.508%;
    display: block;
    float: left;
    padding: 0 12px
}

.home .university-partners.university-partners2x6 .partners .partner a img {
    width: auto;
    height: 80px
}

.home .university-partners.university-partners2x6 .partners .partner a .name>span {
    font-size: 1.0em
}

.home .university-partners.university-partners2x6 .partners .partner a:hover .name,
.home .university-partners.university-partners2x6 .partners .partner a:focus .name {
    bottom: 14px
}
