<!DOCTYPE html>
{% load compressed %}{% load sekizai_tags i18n microsite %}{% load url from future %}{% load staticfiles %}
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  {% block title %}<title>{% platform_name %}</title>{% endblock %}

  <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" />

  {% compressed_css 'style-vendor' %}
  {% compressed_css 'style-app' %}
  {% compressed_css 'style-app-extend1' %}
  {% compressed_css 'style-app-extend2' %}
  {% compressed_css 'style-course-vendor' %}
  {% compressed_css 'style-course' %}

  {% block main_vendor_js %}
  {% compressed_js 'main_vendor' %}
  {% endblock %}
  {% block headextra %}{% endblock %}
  {% render_block "css" %}


  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <meta name="path_prefix" content="{{EDX_ROOT_URL}}">
</head>

<body class="{% block bodyclass %}{% endblock %} lang_{{LANGUAGE_CODE}}">
  <a class="nav-skip" href="{% block nav_skip %}#content{% endblock %}">{% trans "Skip to this view's content" %}</a>
  <header class="global " aria-label="Global Navigation">
    <nav>
    <h1 class="logo">
      <a href="/">
        
            <img src="/static/themes/uncga/images/uncga-header-logo.png" alt="UNC Online"/>
        
      </a>
    </h1>


    <ol class="left nav-global">
      
      
          <li class="nav-global-04">
            <a class="cta cta-register" href="/register">Register Now</a>
          </li>
    </ol>

    <ol class="right nav-courseware">
    <li class="nav-courseware-01">
          <a class="cta cta-login" href="/login">Log in</a>
    </li>
    </ol>
  </nav>
</header>
  <div class="content-wrapper" id="content">
    {% block body %}{% endblock %}
    {% block bodyextra %}{% endblock %}
  </div>

  <div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${marketing_link('ABOUT')}">About</a></li>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
          <li><a href="${reverse('honor')}">Honor Code</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
<!--           <li><a href="${reverse('about_edx')}#careers">Careers</a></li>
          <li><a href="${reverse('about_edx')}#contact">Contact</a></li> -->
          <li><a href="${marketing_link('FAQ')}">Help</a></li>
          <li><a href="http://code.edx.org">OpenEdX</a></li>
        </ol>
      </nav>
      <br/><br/>
  
    </div>
    <div class="references">
<!--       <nav class="nav-social"> -->
<!--         <ul> -->
<!--           <li class="nav-social-01">
            <a href="http://www.meetup.com/edX-Global-Community/" rel="external">
              <img src="${static.url('images/social/ico-social-meetup.png')}" alt="edX on Meetup" />
            </a>
          </li> -->
<!--           <li class="nav-social-02">
            <a href="http://www.facebook.com/unconlinemoocpage" rel="external">
              <img src="${static.url('images/social/ico-social-facebook.png')}" alt="UNC Online on Facebook" />
            </a>
          </li> -->
  <!--         <li class="nav-social-03">
            <a href="https://twitter.com/edXOnline" rel="external">
              <img src="${static.url('images/social/ico-social-twitter.png')}" alt="edX on Twitter" />
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com/108235383044095082735/posts" rel="external">
              <img src="${static.url('images/social/ico-social-google.png')}" alt="edX on Google+" />
            </a>
          </li>
          <li class="nav-social-05">
            <a href="http://youtube.com/user/edxonline" rel="external">
              <img src="${static.url('images/social/ico-social-youtube.png')}" alt="edX on YouTube" />
            </a>
          </li> -->
<!--         </ul>
      </nav> -->

      <p class="copyright">© 2014 UNC Online, some rights reserved.</p>

      </div>
  </footer>
<!--           <li><a href="/about#careers">Careers</a></li>
          <li><a href="/about#contact">Contact</a></li> -->
          <li><a href="/faq">Help</a></li>
        </ol>
      </nav>
      <br/><br/>
      <div class="colophon-about"> 
        <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
      </div>
    </div>
    <div class="references">
      <nav class="nav-social">
        <ul>
<!--           <li class="nav-social-01">
            <a href="http://www.meetup.com/edX-Global-Community/" rel="external">
              <img src="/static/images/social/ico-social-meetup.png" alt="edX on Meetup" />
            </a>
          </li> -->
          <li class="nav-social-02">
            <a href="http://www.facebook.com/unconlinemoocpage" rel="external">
              <img src="/static/images/social/ico-social-facebook.png" alt="UNC Online on Facebook" />
            </a>
          </li>
  <!--         <li class="nav-social-03">
            <a href="https://twitter.com/edXOnline" rel="external">
              <img src="/static/images/social/ico-social-twitter.png" alt="edX on Twitter" />
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com/108235383044095082735/posts" rel="external">
              <img src="/static/images/social/ico-social-google.png" alt="edX on Google+" />
            </a>
          </li>
          <li class="nav-social-05">
            <a href="http://youtube.com/user/edxonline" rel="external">
              <img src="/static/images/social/ico-social-youtube.png" alt="edX on YouTube" />
            </a>
          </li> -->
        </ul>
      </nav>

      <p class="copyright">© 2014 UNC Online, some rights reserved.</p>

      </div>
  </footer>
</div>

  {% compressed_js 'application' %}
  {% compressed_js 'module-js' %}

  {% render_block "js" %}
</body>
</html>

{% comment %}
  This is a django template version of our main page from which all
  other pages inherit. This file should be rewritten to reflect any
  changes in main.html! Files used by {% include %} can be written
  as mako templates.

  Inheriting from this file allows us to include apps that use the
  django templating system without rewriting all of their views in
  mako.
{% endcomment %}
