<%namespace name='static' file='static_content.html'/>
<h2>Explore free courses from <span class="edx">UNC Online</span> universities</h2>

  <section class="university-partners university-partners2x6">
    <ol class="partners">
      <li class="partner">
        <a href="#">
          <img src="${static.url('themes/sas/images/ecu.png')}"/>
          <div class="name">
            <span>ECU</span>
          </div>
        </a>
      </li> 
      <li class="partner">
        <a href="#">
          <img src="${static.url('themes/sas/images/uncp.png')}"/> 
          <div class="name">
            <span>UNC Pembroke</span>
          </div>
        </a>
      </li>
      <li class="partner">
        <a href="#">
          <img src="${static.url('themes/sas/images/uncga.png')}"/> 
          <div class="name">
            <span>UNC</span>
          </div>
        </a>
      </li>

    </ol>
  </section>