<footer>
  <div class="footer-container">
    <div class="row">
          <li><a href="${marketing_link('ABOUT')}">About</a></li>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
          <li><a href="${reverse('honor')}">Honor Code</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
<!--           <li><a href="${reverse('about_edx')}#careers">Careers</a></li>
          <li><a href="${reverse('about_edx')}#contact">Contact</a></li> -->
          <li><a href="${marketing_link('FAQ')}">Help</a></li>
          <li><a href="http://code.edx.org">OpenEdX</a></li>
    </div>
    <div class="row"> 
        <p>© 2014 UNC Online, some rights reserved.</p>
    </div>
  </div>
</footer> 
