<footer>
  <div class="footer-container">
    <div class="row">
      <a href="/about">About</a>  | 
      <a href="/tos">Terms of Service</a>  | 
      <a href="/tos#privacy">Privacy Policy</a>  | 
      <a href="/honor">Honor Code</a> | 
      <a href="/tos#copyright">Copyright</a> | 
      <a href="/faq">Help</a>  | 
      <a href="http://code.edx.org">OpenEdX</a> 
    </div>
    <div class="row"> 
        <p>© 2014 UNC Online, some rights reserved. 
        <a href="http://code.edx.org"><img src="https://s3.amazonaws.com/files.edx.org/openedx-logos/edx-openedx-logo-tag-dark.png" alt="OPEN edX" height=25 ></a></p>
    </div>
  </div>
</footer> 
